<h3>Update User</h3>

<form action="/user/<%= @user.id%>/update" method="post">

<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
<input type="hidden" name="_method" value="patch">
<p>Email: <input type="text" name= "email" value= "<%= @user.email %>"></p>
<p>Name: <input type="text" name= "name"  value= "<%= @user.name %>"></p>
<input type="submit" value="Update">
</form>

<h3>Delete Account</h3>
<form action="/user/<%= @user.id%>/delete" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
	<input type="hidden" name="_method" value="delete">
	<p><input type="submit" value="Delete_Account"></p>
</form>


